<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>v-html instruction</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <span v-once>这个将不会改变: {{ foo }}</span>
        <button v-on:click="foo = 'baz'">Change it</button>
        <p>Using mustaches: {{ rawHtml }}</p>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>
    </div>
    <script>
        var obj = {
            foo: 'bar'
        }

        new Vue({
            el: '#app',
            data: {
                obj,
                rawHtml: '<span style="color:red">This should be red</span>'
            }
        })
    </script>
</body>

</html>